*{
    margin: 0;
    padding: 0;
}

.nav{
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    gap: 75%;
}

.right-nav{
    padding-top: 20px;
}

.right-nav button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: none;
    border: 3px solid rgb(184, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(184, 0, 0);
}

.search-bar{
    padding-left: 30%;
    padding-top: 20px;
}

.search-bar input{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(237, 237, 237);
    padding-left:20px ;
}

.table{
    padding-left: 30%;
    padding-top: 100px;
}